main {
    display: flex;
    flex-direction: column;
}
.teclado{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
}
body {
    max-width: 400px;
    margin: auto;
}
input {
    font-size: larger;
    font-style: oblique;
}
.botoes {
    display: flex;
    flex-direction: row;
}
.operacoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}