<h2>Cliente</h2>
<hr>

<form action="/clientes/save" method="post">
    <div class="form-group">
        <label for="txtnome">Nome</label>
        <input type="text" 
            class="form-control"
            id="txtnome" name="nome" required>
    </div>

    <button type="submit" 
        class="btn btn-primary">Enviar</button>

</form>